################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Frame/bin
/GameServer/bin/Debug/net5.0/ref/GameServer.dll
/.vs/GameServer/v16
/GameServer/bin
/GameServer/obj
/Frame/obj
/.vs/GameServer/DesignTimeBuild
/.vs/GameServer/v17
